// Globals
@import "globals/variables";

// Partials
@import "partials/buttons";
@import "partials/typography";
@import "partials/input";
@import "partials/utilities";

#root {
    background-color: #472b62;
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
}