/************************************************************
Variable Declaration
*************************************************************/

// Fonts
$primary-font: 'Lato', sans-serif;

// Colors
$default-black: #000;
$default-white: #fff;